amqp==5.3.1
annotated-types==0.7.0
anyio==4.9.0
arrow==1.3.0
asgiref==3.8.1
async-timeout==5.0.1
attrs==25.3.0
backoff==2.2.1
bcc==0.1.10
billiard==4.2.1
celery==5.3.6
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloudinary==1.44.0
colorama==0.4.6
contextlib2==21.6.0
cryptography==44.0.3
Django==5.2
django-cloudinary-storage==0.3.0
django-cors-headers==4.7.0
django-environ==0.12.0
django-ninja==1.4.1
django-ninja-extra==0.30.0
django-ninja-jwt==5.3.7
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
fqdn==1.5.1
graphql-core==3.2.6
gunicorn==23.0.0
h11==0.16.0
harfile==0.3.0
httpcore==1.0.9
httpx==0.28.1
hypothesis==6.131.9
hypothesis-graphql==0.11.1
hypothesis-jsonschema==0.23.1
idna==3.10
iniconfig==2.1.0
injector==0.22.0
isoduration==20.11.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
junit-xml==1.9
kombu==5.5.3
MarkupSafe==3.0.2
multidict==6.4.3
numpy==2.2.5
packaging==25.0
pluggy==1.5.0
prompt_toolkit==3.0.51
propcache==0.3.1
psycopg2-binary==2.9.10
pycparser==2.22
pydantic==2.11.4
pydantic_core==2.33.2
PyJWT==2.9.0
pyrate-limiter==3.7.0
pytest==8.3.5
pytest-subtests==0.14.1
python-dateutil==2.9.0.post0
PyYAML==6.0.2
redis==5.0.2
referencing==0.36.2
requests==2.32.3
rfc3339-validator==0.1.4
rfc3987==1.3.8
rpds-py==0.24.0
scalar-django-ninja @ git+https://github.com/scalar/scalar.git@a8de3460eb60d4fbea7c3eb94b179184c779f442#subdirectory=integrations/django-ninja
schemathesis==3.39.16
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
sqlparse==0.5.3
starlette==0.46.2
starlette-testclient==0.4.1
tomli==2.2.1
tomli_w==1.2.0
traitlets==5.14.3
traittypes==0.2.1
types-python-dateutil==2.9.0.20241206
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
uri-template==1.3.0
urllib3==2.4.0
vine==5.1.0
wcwidth==0.2.13
webcolors==24.11.1
Werkzeug==3.1.3
whitenoise==6.9.0
yarl==1.20.0
